*{
	font-family: 'Lobster', cursive;
	font-weight: 100;
	font-size: 20px;
}
.caja1{
	display: inline-block;
	padding: auto;	
	height: 100px;
	width: 200px;
	background: slateblue;
	transition: background 1s, height 0.2s, width 1s;
}
.caja1:hover { /* Se activa con el mouse encima */
	background: red;
	height: 300px;
	width: 300px;
}

.contenedor { 
	background: green;
	margin: 50px;
	height: 300px;
	width: 300px;
}

 img{
 	height: 100%;
 	width: 100%;
 	border: 2px solid darkred;
 	object-fit: scale-down;
 }