*{
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	font-size: 20px;
}
body {
	background: black;
}

.search-box{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/*border: 2px solid white;*/
	height: 60px;
	background: #353535;
	line-height: 40px;
	padding: 10px;
	border-radius: 60px;
	cursor: pointer;
}

.search-input{
	outline: none;
	background: #353535;
	color: white;
	border: none;
	line-height: 40px;
	width: 0;
	float: left;
	font-size: 1em;
	transition: 0.7s ease;
}

.search-botton {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	background: #353535;
	padding: 11px;
	border-radius: 50%;
	float: right;
	color: #22ffc0;
	transition: 0.4s ease;
}

.search-box:hover > .search-input,
.search-input:hover{
	width: 240px;
	margin: 0px 10px;
}
.search-box:hover > .search-botton,
.search-input:focus + .search-botton {
	background: #22ffc0;
	color: #101010;
}